.wrap {
  span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #707070;
    margin-bottom: 6px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; 
    color: #2C2C2C;
  }

  @media screen and (min-width:1024px) {
    span {
      font-size: 20px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 35px;
      line-height: 45px;
    }
  }
}