.wrap {
  .sub_title {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #707070;
    margin-bottom: 6px;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; 
    color: #2C2C2C;
  }

  &.white {
    .sub_title {
      color: #DEDEDE;
    }

    .title {
      color: #fff;
    }
  }

  @media screen and (min-width:1024px) {
    .sub_title {
      font-size: 25px;
      margin-bottom: 10px;
    }

    .title {
      font-size: 55px;
      line-height: 55px;
    }
  }
}