.container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner {
    width: 100%;
    padding: 65px 15px;
    box-sizing: border-box;
  }

  .skill_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 10px;
  }

  .skill_item {
    display: flex;
    align-items: center;
    gap: 10px;

    .skill_data {
      font-size: 16px;
      font-weight: 500;
      line-height: 30px; 
      color: #2C2C2C;
      text-transform: uppercase;
    }
  }

  .plus {
    margin: 30px auto;
    display: block;
  }

  .other_skill {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #2C2C2C;
  }

  .download {
    width: 100%;
    max-width: 315px;
    margin: 50px auto 0;
    display: block;
    border-radius: 100px;
    border: 1px solid #707070;
    text-align: center;
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    font-weight: 500;
    color: #2C2C2C;
    text-decoration: none;
  }

  .flex_wrap {
    margin-top: 30px;

    > .left_img {
      display: none;
    }
  }

  @media screen and (min-width:1024px) {
    .inner {
      padding: 100px 54px;
    }

    .flex_wrap {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 150px;
      margin-top: 100px;

      > .left_img {
        display: block;
      }
    }

    .skill_list {
      gap: 26px;
    }

    .skill_item {
      gap: 28px;

      > .skill_logo {
        width: 62px;
        height: 62px;
      }

      .skill_data {
        font-size: 18px;
        line-height: 23px;
      }
    }

    .plus {
      margin: 50px auto;
    }

    .other_skill {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      font-size: 15px;
      line-height: 23px;
    }

    .download {
      margin-top: 130px;
    }
  }
}